body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/* ссылки и кнопки */

a {
  text-decoration: none;
}

.main-navigation .active-page {
  color: #766357;
}

.main-navigation a {
  display: block;
  margin: 15px 73px;
}

.main-navigation a,
.housing a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus,
.housing a:hover,
.housing a:focus {
  color: #81b3d2;
}

.main-navigation a:active,
.housing a:active {
  color: rgba(0, 0, 0, 0.3);
}

.sort-list .active-sort {
  color: #81b3d2;
  border-bottom: none;
}

.sort-list a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

/* не соображу как убрать подчеркивание у стрелочек сортировк  */

.sort-list a:hover,
.sort-list a:focus {
  color: #81b3d2;
}

.sort-list a:active {
  color: #000000;
}

.button {
  font: inherit;

  color: #a9a9a9;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}

.button.calendar path {
  fill: rgba(0,0,0, 0.3);
}

.button.calendar:hover path,
.button.calendar:focus path {
  fill: #000000;
}
.button.calendar:active path {
  fill: #81b3d2;
}

.button.search,
.button.book {
  color: #ffffff;
  background-color: #766357;
}

.button.search:hover,
.button.search:focus,
.button.book:hover,
.button.book:focus {
  color: #ffffff;
  background-color: #604e43;
}

.button.search:active,
.button.book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.button.minus:hover,
.button.minus:focus,
.button.plus:hover,
.button.plus:focus {
  color: #000000;
}

.button.minus:active,
.button.plus:active {
  color: #81b3d2;
}

.button.find,
.button.info {
  color: #ffffff;
  background-color: #81b3d2;
}

.button.find:hover,
.button.find:focus,
.button.info:hover,
.button.info:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button.find:active,
.button.info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.html-button {
  display: inline-block;
  vertical-align: middle;
  width: 117px;
  height: 43px;
}

.sort-button path {
  fill: rgba(0, 0, 0, 0.3);
}

.sort-button:hover path,
.sort-button:focus path {
  fill: #000000;
}

.sort-button:active path {
  fill: #5496bd;
}

.sort-button.active-button path {
  fill: #5496bd;
}

/* Все ссылки и кнопки */

/* Футер */

.footer {
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);
  line-height: 26px;
  margin: 0;
  padding: 35px 0;
}

.footer.main {
  position: relative;
  z-index: 1;
  margin-top: -120px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
  margin: 0;
  width: 400px;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 150px;
}

.footer-copyright {
  margin: 0;
  width: 400px;
  text-align: center;
}

/* Футер */

/* Херед */

.main-header {
  margin-bottom: 0;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 1200px;
  position: relative;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;

  list-style: none;
}

.main-navigation li:nth-child(2) {
  margin-right: 254px;
}

.main-header-logo {
  width: 140px;
  height: 70px;
  position: absolute;
  left: 50%;
  margin-left: -70px;
  z-index: 1;
}

/* Херед */

/* Описание главная страница */

.description {
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.img-welcome img {
  padding-top: 75px;
  padding-bottom: 80px;
  height: 350px;
  width: 460px;
}

.img-welcome {
  background-image: url(../img/background_index.jpg);
}

.description h1 {
  font-size: 21px;
  width: 455px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 55px;
}

.description p {
  margin: 0;
  padding: 0;
  padding-bottom: 59px;
}

.features-list,
.life-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.feature-item,
.life-item,
.interested {
  text-align: center;
}

.feature-item.town,
.feature-item.bridge {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.feature-item-img {
  line-height: 0;
}

.feature-item-img img {
  width: 800px;
  height: 256px;
}

.feature-item-description {
  width: 400px;
  padding-top: 46px;
  padding-bottom: 63px;
  padding-left: 60px;
  padding-right: 60px;
  box-sizing: border-box;
}

.life-item,
.feature-item.space,
.feature-item.road,
.feature-item.tourists {
  width: 400px;
}

.feature-item h2 {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}

.feature-item.bridge,
.feature-item.town {
  width: 1200px;
  color: #ffffff;
  background-color: #81b3d2;
}

.life-list {
  color: #000000;
  background-color: #ffffff;
}

.description p,
.life-item p {
  color: #333333;
}

.feature-item:nth-child(n+3) {
  background-color: #eeeeee;
}

.feature-item h2,
.life-item h3 {
  font-size: 21px;
}

.life-item p {
  margin: 0;
  padding: 0;
}

.life-item h3 {
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.house {
  padding-top: 160px;
  padding-bottom: 87px;
  padding-left: 73px;
  padding-right: 73px;
  box-sizing: border-box;
  position: relative;
}

.house h3::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;

  top: 61px;
  right: 164px;
  background-image: url(../img/icon-1.svg);
}

.food {
  padding-top: 160px;
  padding-bottom: 87px;
  padding-left: 60px;
  padding-right: 55px;
  box-sizing: border-box;
  position: relative;
}

.food h3::before {
  content: "";
  position: absolute;
  width: 74px;
  height: 70px;

  top: 61px;
  right: 165px;
  background-image: url(../img/icon-3.svg);
}

.souvenirs {
  padding-top: 160px;
  padding-bottom: 87px;
  padding-left: 65px;
  padding-right: 62px;
  box-sizing: border-box;
  position: relative;
}

.souvenirs h3::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 76px;

  top: 61px;
  right: 168px;
  background-image: url(../img/icon-2.svg);
}

.space {
  padding-top: 50px;
  padding-bottom: 63px;
  padding-left: 95px;
  padding-right: 95px;
  box-sizing: border-box;
}

.road {
  padding-top: 50px;
  padding-bottom: 63px;
  padding-left: 67px;
  padding-right: 67px;
  box-sizing: border-box;
}

.tourists {
  padding-top: 50px;
  padding-bottom: 63px;
  padding-left: 69px;
  padding-right: 62px;
  box-sizing: border-box;
}

/* Описание главная страница */

/* Поиск гостиницы главная страница */

.feature-item.interested {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.interested h2 {
  margin: 0;
  font-size: 30px;
  line-height: 36px;
  padding-top: 55px;
  padding-bottom: 35px;
}

.interested p {
  line-height: 24px;
  color: #333333;
  margin-bottom: 55px;
}

.button.search {
  width: 570px;
  padding-bottom: 31px;
  padding-top: 31px;
  padding-left: 0;
  padding-right: 0;
  font-size: 21px;
  line-height: 26px;
}

.search-form {
  width: 570px;
  margin: 0 auto;
  padding: 58px 55px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  line-height: 26px;
  position: absolute;
  background-color: white;
  left: 50%;
  margin-left: -285px;
}

.interested-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-between;
}

.interested-item.arravial,
.interested-item.depart {
  margin: 0;
  padding: 0;
  display: flex;
  width: 458px;
  margin-bottom: 30px;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.arravial input,
.depart input {
  width: 345px;
  padding: 6px 10px;
  box-sizing: border-box;
  text-transform: inherit;
}

.arravial label {
  display: inline-block;
  vertical-align: middle;
}

.button.calendar.one {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 20px;
  height: 24px;
  background-color: transparent;
}

.button.calendar.two {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 7px;
  top: 7px;
  width: 20px;
  height: 24px;
  background-color: transparent;
}

.button.minus {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 40px;
  height: 38px;
  color: rgba(0,0,0,0.3);
  z-index: 2;
  background-color: transparent;
  font-size: 40px;
}

.button.plus {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 40px;
  height: 38px;
  color: rgba(0,0,0,0.3);
  z-index: 2;
  background-color: transparent;
  font-size: 30px;
  right: 10px;
}

/* не понимаю откуда отступы справа и слева взрослые/дети */

.interested-item.adult {
  width: 226px;
  position: relative;
  margin: 0;
  padding: 0;
}

.interested-item.child {
  width: 179px;
  position: relative;
  margin: 0;
  padding: 0;
}

.adult input,
.child input {
  width: 115px;
  text-align: center;
  padding: 6px;
}

.button.find {
  width: 460px;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 0;
  padding-right: 0;
  font-size: 21px;
  line-height: 26px;
  margin-top: 55px;
}

.interested-item input {
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.interested-item input:hover {
  background-color: #ebebeb;
}

.interested-item input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

/* Поиск гостиницы главная страница */

/* Фильтр страница гостиниц */

.filters {
  background-image: url(../img/background_hotels.jpg);
}

.filters form {
  margin: 0;
  padding: 0;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.filters-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.filters fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.filters ul {
  list-style: none;
  margin: 0;
  padding: 0;

}

.filters li {
  margin-top: 20px;
}

.filter-infrastructure legend {
  margin-right: 110px;
}

.filter-type legend {
  margin-right: 392px;
}

.filter-infrastructure label,
.filter-type label {
  display: block;
  position: relative;
  padding-left: 40px;
  color: #ffffff;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + span {
  position: absolute;
  left: 0;
  top: 0;
  width: 33px;
  height: 30px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + span {
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
}

/* как сделать когда чекбокс заблокирован, такой свг нет, значит надо куда-то весь код вставлять? или просто выгрузить картинкой из фотошопа?*/

.price-controls {
  position: relative;
  height: 36px;
  width: 320px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 0;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  color: #ffffff;
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toggle:hover {
  background: #1c4f80;
}

/* Не понимаю что происходит при наведении по стайлгайду, она увеличивается?*/

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 5px 35px;

  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* Фильтр страница гостиниц */

/* Сортировка страница гостиниц */

.sort {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
  padding-left: 73px;
  padding-right: 73px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sort p:first-of-type {
  margin-right: 48px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sort p:last-of-type {
  margin-right: 38px;
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sort-list li {
  margin-right: 30px;
}

.sort-list li:last-of-type {
  margin: 0;
}

.sort-list li:nth-last-of-type(2) {
  margin-left: 440px;
  margin-right: 10px
}

/* Сортировка страница гостиниц */

/* Список гостиниц */

.housing p {
  color: #333333;
}

.housing {
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 73px;
  padding-right: 73px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.housing img {
  height: 90px;
  width: 136px;
}

.housing-about {
  padding-left: 30px;
  display: flex;
  width: 280px;
  flex-wrap: wrap;
}

.housing-about h1 {
  margin: 0;
  padding: 0;
}

.housing-about p {
  margin: 0;
  padding: 0;
  width: 108px;
  margin-right: 6px;
}

.housing-about a {
  padding: 0;
  margin: 0;
  font-size: 26px;
}

.housing-about .button {
  margin: 0;
  padding: 0;
}

.button.info {
  width: 108px;
  margin-right: 6px;
}

.button.book {
  width: 142px;
}

.housing-rate {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.housing-rate ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
}

.housing-rate li {
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.housing-rate p {
  margin: 0;
  padding: 4px 14px;
  background-color: #f2f2f2;
  margin-top: auto;
}

/* Список гостиниц */
