body {
  margin: 0;
  padding: 0;

  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  color: #a9a9a9;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ffffff;
  border: none;
}

.button.search {
  color: #ffffff;
  background-color: #766357;
}

.button.search:hover, .button.search:focus {
  color: #ffffff;
  background-color: #604e43;
}

.button.search:active{
  color: rgba (255,255,255,0.3);
  background-color: #503e33;
}

.button.minus:hover, .button.minus:focus, .button.plus:hover, .button.plus:focus {
  color: #000000;
}

.button.minus:active, .button.plus:active{
  color: #81b3d2;
}

.button.find {
  color: #ffffff;
  background-color: #81b3d2;
}

.button.find:hover, .button.find:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button.find:active{
  color: rgba (255,255,255,0.3);
  background-color: #5496bd;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;

  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;

  background-color: #ffffff;

  list-style: none;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover, .main-navigation a:focus {
  color: #81b3d2;
}

.main-navigation a:active {
  color: rgba (0,0,0,0.3);
}

.description {
  line-height: 26px;
  text-align: center;
}

.description h1 {
  font-size: 21px;
  width: 455px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.description p {
  margin-bottom: 58px;
}

.description p, .life-item p, {
  color: #333333;
}

.features-list, .life-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.filters-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.feature-item, .life-item {
  text-align: center;
}

.life-item {
  width: 400px;
}

/* почему не работает? */

.feature-item .bridge {
  width: 1200px;
}

.feature-item:nth-child(1) {
  color: #ffffff;
  background-color: #81b3d2;
}

.feature-item:nth-child(2) {
  color: #ffffff;
  background-color: #81b3d2;
}

.life-list {
  color: #000000;
  background-color: #ffffff;
}

.feature-item:nth-child(n+3) {
  background-color: #eeeeee;
}

.feature-item:nth-child(n+3) p {
  color: #333333;
}

.feature-item h2, .life-item h3 {
  font-size: 21px;
}

.interested {
  text-align: center;
}

.interested h2 {
  font-size: 30px;
  line-height: 36px;
}

.interested p {
  line-height: 24px;
  color: #333333;
}

.interested-item input {
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.interested-item input:hover {
  background-color: #ebebeb;
}

.interested-item input:focus {
  outline: none;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.main-footer {
  color: #000000;
  background-color: rgba(255,255,255,0.9);
  line-height: 26px;
  margin-top: 0;
  padding: 35px 0;
}

.footer-hashtag {
  font-size: 21px;
  font-weight: 700;
}

.active-page a {
  color: #766357;
}

.filters fieldset {
  border: none;
}

.filters legend {
  font-size: 16px;
  font-weight: 700;
}

.filters ul {
  list-style: none;
}

.housing a {
  color: rgb(0,0,0);
}

.housing a:hover, .housing a:focus {
  color: #81b3d2;
}

.housing a:active {
  color: rgba(0,0,0,0.3);
}

.housing p {
  color: #333333;
}

.housing .button:active {
  color: rgba(255,255,255,0.3);
}

.button.info {
  color: #ffffff;
  background-color: #766357;
  font-weight: 700;
}

.button.info:hover, .button.info:focus {
  color: #ffffff;
  background-color: #604e43;
}

.button.info:active{
  color: rgba(255,255,255,0.3);
  background-color: #503e33;
}

.button.book {
  color: #ffffff;
  background-color: #81b3d2;
  font-weight: 700;
}

.button.book:hover, .button.book:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.button.book:active{
  color: rgba(255,255,255,0.3);
  background-color: #5496bd;
}

.main-header {
  margin-bottom: 0;
}

.main-header-logo {
  width: 140px;
  height: 70px;
}


.footer-hashtag {
  margin: 0;
  width: 136px;
  margin-right: 255px;
  margin-left: 133px;
}

.footer-social {
  margin: 0;
  width: 150px;
}

.footer-copyright {
  margin: 0;
  width: 198px;
  margin-left: 228px;
}


.main-footer .container {
  display: flex;
}

.sort-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.housing {
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 29px;
  padding-bottom: 29px;
  padding-left: 73px;
  padding-right: 73px;

}


